{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block content %}

{% block css %}

<head>
  {% csrf_token %}
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">




  <style>
    .box {
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
    }
    #review-content{
      font-family :'Dongle';
      font-size:28px;
    }

    #review-title{
      font-family :'Nanum Gothic';
      font-size:30px;
    }

    #review-comment{
      font-family :'Dongle';
      font-size: x-large;

    }


    .feed_box {
        margin: 20px 0;
        border: solid 1px gray;
        background-color: white
    }
    .review_delete button{
      width: 20%;
      margin-top: 0px;
      border-radius: 50px;
      padding: 30px 40px;
      background: #fff;
      item-align :center;
      font-size: 35px;
      margin-left: 10px;
      display: inline-block;
      border: 1px solid #ddd;
      border-style: none;
      }  
  
  </style>

</head>

{% endblock css %}



<div class='container center' style='position:absolute; left:15%; top:30%; '>
  <div style="display: flex; justify-content: center; item-align-center" >
    <div style=" width: 500px; height: 500px" class=''>
      
      {% if review.image %}
      <div id="carouselExampleControls-{{ review.pk }}" class="carousel slide " data-ride="carousel" style="width: 100% padding-bottom: 100%;">
        <div class="carousel-inner bg-dark"  style='width : 100%; height : 80% ; overflow: hidde' >
          {% for photo in review.image.all %}
    
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style='width : 100%; height : 50%;'>
              <img class='carousel-image ' src="{{ photo.image.url }}" alt="" style=' width : 100%; height : 200%;' >
            </div>
          {% endfor %}
          
    
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-{{ review.pk }}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-{{ review.pk }}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      {% endif %}
      {% if request.user == review.user %}
        <div class='review_delete mt-2 d-flex ' >
            {% comment %} 요청한 user가 리뷰를 작성한 user일 경우에 수정 및 삭제{% endcomment %}
            <p>
              <button type="button" class="" style=''>
                <a href="{% url 'reviews:update' review.pk %}" style='text-decoration:none; color:white' class='fw-bolder'><i class="bi bi-pencil-square " style='color : black'></i></a>
              </button>
            </p>
            <p class='review_delete '>
              <form action="{% url 'reviews:delete' review.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="" style='color : gray'>
                    <i class="bi bi-trash"></i>
                  </button>
              </form>
            </p>
            
        </div>
        {% endif %}
    </div>
    <div style=" width: 300px; height: 1000px " >
      




      <div id='review-content' style=" font-family: 'Dongle';margin: 0 20px;text-align: left; " class='mb-2'>
        <b> <span><h5 id='review-title' style='font-family: "Nanum Gothic"; text-align:center;'>{{ review.title}} </h5></span></b>
        <a href="{% url 'accounts:profile' review.user %}" style='color :black;' class='text-decoration-none ' ><img class="profile" src="{% if review.user.profile %}{{ review.user.profile.url }}{% else %}https://dummyimage.com/40x40{% endif %}" style='border-radius: 100%; height: 40px; width:40px;'>
          
          <span style="font-weight:bold; font-size:18px">{{ review.user.username }}</span></a> {{ review.content}}
      </div>
      <hr>
      {% comment %} 댓글 {% endcomment %}
      <div id="review-content_{{ review.id }}" class='mt-3' style="overflow:scroll; width:350px; height:400px;">
        {% for comment in  review.comment_set.all %}
        
        <div id='review-comment' style="font-family: 'Dongle';margin: 0 20px;text-align: left;">
          <div class="d-flex align-items-center  ">
            <a href="{% url 'accounts:profile' comment.user %}" style='color :black;' class='text-decoration-none ' ><img class="profile" src="{% if comment.user.profile %}{{ comment.user.profile.url }}{% else %}https://dummyimage.com/40x40{% endif %}" style='border-radius: 100%; height: 40px; weight:40px;'></a>
            <div class="p-0" ><span style="font-weight:bold; font-size:18px;">&nbsp;{{ comment.user.username }} </span></div> &nbsp;<div class="p-0 " style="font-size:16px"> {{ comment.content}}</div>
          <div class="ms-auto p-0 ">
            {% if request.user.is_authenticated %}
              <form class="like-form" data-comment-id="{{ comment.pk }}" data-review-id="{{ review.pk }}" >
                {% csrf_token %}
                {% if request.user in comment.like_users.all %}
                  <button class="btn border-0 " style="background-color: transparent;" type="submit" id="like-comment-{{ comment.pk }}">
                    <i style='color:red' id="like-i-{{ comment.pk }}" class="like-fficial bi bi-suit-heart-fill"></i>
                  </button>
                {% else %}
                  <button class="btn border-0 " style="background-color: transparent;" type="submit" id="like-comment-{{ comment.pk }}">
                    <i style='color:red' id="like-i-{{ comment.pk }}" class="like-fficial bi bi-suit-heart"></i>
                  </button>
                {% endif %}
              </form>
            {% endif %}
            
          </div>
          
          
        </div>
        <small class="text-muted">
            
          {% comment %} 댓글 시간및 좋아요 {% endcomment %}
          <p style='font-size:18px;' id="review-content" >{{ comment.created_at| naturaltime  }}
            <span><i style='color:red ' class="bi bi-chat-heart-fill" id="like-count-{{ comment.pk }}"> {{ comment.like_users.all|length }}</i></span>
            {% if user.is_authenticated and comment.user == request.user %}
            <a href="{% url 'reviews:comment_delete' review.pk comment.pk %}"style="color: gray" class='text-decoration-none '>삭제</a>
            {% endif %}
          </p>
        </small>
        
          
        
        
          
        </div>
          
        {% endfor %}
      </div>
      <div style="display:flex;flex-direction: row;align-items: center; border-top: solid 1px gray ">
        <input id="comment_{{ review.id }}" type="text" class="form-control"
               style="box-shadow: none; border: none; outline: none"
               placeholder="댓글 달기..">
        <div review_id="{{ review.id }}" class="upload_reply"
             style="width: 50px;color: cornflowerblue; font-weight: bold">
             게시</div>
        </div>
     
      
      
    </div >
  </div>

</div>












<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // 좋아요
    const form = document.querySelectorAll('.like-form')
    console.log(form)
    const csrftokens = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      form
      .forEach((form) => {
        form.addEventListener('submit', function (event) {
          event.preventDefault()
          const reviewId = event.target.dataset.reviewId
          const commentId = event
            .target
            .dataset
            .commentId

            axios({
              method: 'post',
              url: `/reviews/${reviewId}/${commentId}/likes/`,
              headers: {
                'X-CSRFToken': csrftokens
              }
            })
            .then((response) => {
              const isLiked = response.data.is_liked
              const likeBtn = document.querySelector(`#like-i-${commentId}`)
              if (isLiked === true) {
                likeBtn
                  .classList
                  .remove('bi-suit-heart')
                likeBtn
                  .classList
                  .add('bi-suit-heart-fill')
              } else {
                likeBtn
                  .classList
                  .remove('bi-suit-heart-fill')
                likeBtn
                  .classList
                  .add('bi-suit-heart')
              }
              const likeCountTag = document.querySelector(`#like-count-${commentId}`)
              const likeCount = response.data.likeCount
              likeCountTag.innerText = likeCount
            })
            .catch((error) => {
              console.log(error.response)
            })
          })
      })

      
  $(".upload_reply").click(function (event) {
    let review_id = event.target.attributes.getNamedItem('review_id').value;
    let comment_id = 'comment_' + review_id;
      console.log(comment_id)
    let comment_content = $('#'+ comment_id).val();
    console.log(comment_content);
    
    if (comment_content.length <= 0) {
      alert("댓글을 입력하세요");
      return 0;
    }
    $.ajax({
      url: `/reviews/${review_id}/comments/`,
      data: {
        review_id: review_id,
        content: comment_content,
        csrfmiddlewaretoken: "{{ csrf_token }}"
        
      },
      method: "POST",
      success: function (data) {
          console.log("성공");
          alert("댓글 성공");
          $("#reply_list_" +review_id).append( "<div style='margin: 0 20px;text-align: left;font-size: 14px'><b>{{ user.username }}</b>" + comment_content + "</div>")
          {location.replace('');}
          

      },
      error: function (request, status, error) {
          console.log("에러");
      },
      complete: function () {
          console.log("완료");
          $('#' + review_id).val('');
      }
    });



 

  });
  </script>



{% endblock content %}