{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load static %}
{% block content %}


<head>
  {% csrf_token %}
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
  
 




  <style>
    .box {
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
    }
    #review-content{
      font-family :'Dongle';
      font-size:28px;
    }

    #review-title{
      font-family :'Nanum Gothic';
      font-size:42px;
    }

    #review-comment{
      font-family :'Dongle';
      font-size: x-large;

    }


    .feed_box {
        margin: 20px 0;
        border: solid 1px gray;
        background-color: white
    }
  </style>

</head>
{% comment %} 검색기능 {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="position: fixed;width: 100%; z-index: 999">
  <div class="container-fluid d-flex justify-content-around mr-3" style="flex-wrap: nowrap; min-width: 1000px">
    
    <form action="{% url 'reviews:index'%}" role='search' id='searchfunc1'>
      <input type="text" id="search-type-01" name='search'  style="width: 400px">
      <button type="submit"><i class="fas fa-search" style="padding-right: 10px" ></i></button>
    </form>
    

    <a href="{% url 'reviews:create' %}"style="color: black" class='text-decoration-none mx-3'><i class="bi bi-plus-square" ></i>글쓰기</a>
   
    
    
  </div>
</nav>
{% comment %} 모달 {% endcomment %}


  {% comment %} 리뷰 글 반복 {% endcomment %}
<div style="display: flex; flex-direction: row;text-align: center; justify-content: center;padding-top: 60px; background-color:#FAFAFA ">
  <div style="width: 500px;min-width: 500px;margin-right: 150px ">
    {% for review in reviews %}
      <div class=" card feed_box ">
        {% comment %} 작성자 프로필 사진 및 이름 {% endcomment %}
        <div style="display: flex;flex-direction: row; align-items: center; margin: 30px">
          <div class="box" style="width: 90px; height: 90px">
                <a href="{% url 'accounts:profile' review.user %}" style='color :black;' ><img class="profile" src="{% if review.user.profile %}{{ review.user.profile.url }}{% else %}https://dummyimage.com/90x90{% endif %}" style='border-radius: 100%; '></a>
                
              </div>
              
              <div class='d-flex justify-content: space-around'><a href="{% url 'accounts:profile' review.user %}" style='color :black;' class='text-decoration-none ' >&nbsp; <b>{{ review.user.username }}</b></a></div>
                <p class='ms-auto'>
                  {% comment %} 팔로우 {% endcomment %}
                  <small>
                    {% if request.user != review.user %}
                      <form id='follow-form-{{ review.pk }}' data-review-id='{{review.pk}}' class='follow-form' data-review-user-id='{{ review.user.pk }}'>
                        {% csrf_token %}
                          {% if request.user in review.user.followers.all %}
                          <input type='submit' class="followBtn btn me-3"  style='color:#0095F6;'  value="언팔로우">
                          {% else %}
                          <input type='submit' class="followBtn btn me-3  " style='color:#0095F6;' value='팔로우'>
                          {% endif %}
                      </form>
                    {% endif %}
                  </small>
                 
                  {{ review.created_at| naturaltime  }}</p>
            </div>
            <div>

            {% comment %} 사진 {% endcomment %}
            {% if review.image.first %}
            <div id="carouselExampleControls-{{ review.pk }}" class="carousel slide " data-ride="carousel" style="width: 100%">
              <div class="carousel-inner bg-dark"  style='width : 100%;'>
                {% for photo in review.image.all %}
          
                  <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style='width : 100%; height : 50%;'>
                    <img class='carousel-image ' src="{{ photo.image.url }}" alt="" style=' width : 100%; height : 200%;' >
                  </div>
                {% endfor %}
          
              </div>
          
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-{{ review.pk }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-{{ review.pk }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              </div>
              
              
            {% endif %}

          </div>
        {% comment %} 좋아요 {% endcomment %}
        <div style="margin: 0 20px;display: flex; flex-direction: row; justify-content: space-between">
          <div>
            {% if request.user.is_authenticated %}
            <form class="like-form" data-review-id="{{ review.pk }}">
              {% csrf_token %}
              {% if request.user in review.like_users.all %}
                <button class="btn border-0 ms-0" style="background-color: transparent; font-size:20px;" type="submit" id="like-review-{{ review.pk }}">
                  <i style='color:red;' id="like-i-{{ review.pk }}" class="like-fficial bi bi-suit-heart-fill"></i>
                  <span id="like-count-{{ review.pk }}">{{ review.like_users.count }}</span>
                </button>
              {% else %}
                <button class="btn border-0 ms-0" style="background-color: transparent; font-size:20px;" type="submit" id="like-review-{{ review.pk }}">
                  <i style='color:red' id="like-i-{{ review.pk }}" class="like-fficial bi bi-suit-heart"></i>
                  <span id="like-count-{{ review.pk }}">{{ review.like_users.count }}</span>
                </button>
              {% endif %}
            </form>
            {% endif %}
          </div>
         
        </div>
      {% comment %} 제목 및 글 내용 {% endcomment %}
      <div id='review-content' style="margin: 0 20px;text-align: left;  font-family: 'Dongle';" class='mb-2'>
        <b> <span><h5 id='review-title 'style="font-family: 'Nanum Gothic';">{{ review.title|truncatechars:25 }} </h5></span></b>
        <span style="font-weight:bold; font-size:18px">{{ review.user.username }}</span> {{ review.content|truncatechars:23 }}
      </div>
      
      {% comment %} 댓글 {% endcomment %}
          <div id="review-content_{{ review.id }}" class='mt-3'>
            {% for comment in  review.comment_set.all %}
            {% if forloop.counter < 5  %}
            <div id='review-comment'style="margin: 0 20px;text-align: left;font-size: 14px font-family: 'Dongle';">
              <span style="font-weight:bold; font-size:18px">{{ comment.user.username }}</span> {{ comment.content|truncatechars:20 }}</div>
           
           


            {% endif %}
            {% endfor %}
            <small > <a  style='color :black;' class='text-decoration-none ' href="{% url 'reviews:detail' review.pk %}">{{ review.comment_set.count }} 댓글 모두 보기</a> </small>
            
          </div>
          
    
          
          {% comment %} 댓글작성 {% endcomment %}

          <div style="display:flex;flex-direction: row;align-items: center; border-top: solid 1px gray ">
            <input id="comment_{{ review.id }}" type="text" class="form-control"
                  style="box-shadow: none; border: none; outline: none"
                  placeholder="댓글 달기..">
              <div review_id="{{ review.id }}" class="upload_reply"
                style="width: 50px;color: cornflowerblue; font-weight: bold">
                게시
              </div>
            </div>
            
          </div>
            
          
        {% endfor %}
        
          
    </div>
    
    <aside class="floating " >
      <a href="{% url 'info:hospital' %}">
        <img src="{{ aside }}" alt="DogAdopt"  style='position:fixed' class="mb-4 banner1 " width="200px" height="auto"></a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <a href="{% url 'info:deserted' %}">
        <img src="{{ aside2 }}" alt="DogAdopt" style='position:fixed'  class="mt-4 banner2 " width="200px" height="auto"></a>
    </aside>  
      
</div>


</div>

  <!-- {% comment %} 페이지네이션 {% endcomment %}
  <ul class="pagination">
    {% comment %} 이전 페이지 {% endcomment %}
      {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% comment %} 페이지리스트 {% endcomment %}
      {% for page_number in posts.paginator.page_range %}
      {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %} {% if page_number == posts.number %}
        <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% comment %} 다음 페이지 {% endcomment %}
        {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
  </ul> -->
 

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 좋아요
  const form = document.querySelectorAll('.like-form')
  console.log(form)
  const csrftokens = document
    .querySelector('[name=csrfmiddlewaretoken]')
    .value

    form
    .forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const reviewId = event.target.dataset.reviewId
        

          axios({
            method: 'post',
            url: `/reviews/${reviewId}/like/`,
            headers: {
              'X-CSRFToken': csrftokens
            }
          })
          .then((response) => {
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-i-${reviewId}`)
            if (isLiked === true) {
              likeBtn
                .classList
                .remove('bi-suit-heart')
              likeBtn
                .classList
                .add('bi-suit-heart-fill')
            } else {
              likeBtn
                .classList
                .remove('bi-suit-heart-fill')
              likeBtn
                .classList
                .add('bi-suit-heart')
            }
            const likeCountTag = document.querySelector(`#like-count-${reviewId}`)
            const likeCount = response.data.likeCount
            likeCountTag.innerText = likeCount
          })
          .catch((error) => {
            console.log(error.response)
          })
        })
    })



  $(".upload_reply").click(function (event) {
    let review_id = event.target.attributes.getNamedItem('review_id').value;
    let comment_id = 'comment_' + review_id;
      console.log(comment_id)
    let comment_content = $('#'+ comment_id).val();
    console.log(comment_content);
    
    if (comment_content.length <= 0) {
      alert("댓글을 입력하세요");
      return 0;
    }
    $.ajax({
      url: `/reviews/${review_id}/comments/`,
      data: {
        review_id: review_id,
        content: comment_content,
        csrfmiddlewaretoken: "{{ csrf_token }}"
        
      },
      method: "POST",
      success: function (data) {
          console.log("성공");
          
          $("#reply_list_" +review_id).append( "<div style='margin: 0 20px;text-align: left;font-size: 14px'><b>{{ user.username }}</b>" + comment_content + "</div>")
          {location.replace('');}
          

      },
      error: function (request, status, error) {
          console.log("에러");
      },
      complete: function () {
          console.log("완료");
          $('#' + review_id).val('');
      }
    });



 

  });
  {% comment %} 팔로우 {% endcomment %}
  const followforms = document.querySelectorAll('.follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  followforms.forEach((form) => {
  
  form.addEventListener('submit', function (event) {
      event.preventDefault()

      const userId = event.target.dataset.reviewUserId
      const reviewId = event.target.dataset.reviewId
      axios({
          method: 'post',
          url: `/reviews/follow/${userId}/`,
          headers: { 'X-CSRFToken': csrftoken, }
      })
          .then((response) => {
              // console.log(response)
              const isFollowed = response.data.is_followed

                // 동일한 유저의 팔로잉 일괄 처리
                followforms.forEach((form) => {
                  if (form.dataset.reviewUserId == userId){
                    const followBtn = form.querySelector('input[type=submit]')
                    if (isFollowed == true) {
                      followBtn.value = '언팔로우'
                    } else {
                        followBtn.value = '팔로우'
                    }
                  }
                })
              
          })
    })
  })



</script>



{% endblock content %}