
* {
  font-family: 'Jua', sans-serif;
}


/*Keyframes*/
@keyframes rain_effect {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 400px 800px, 300px 300px, 200px 200px; }
  100% {background-position: 0px 0px, 0px 0px, 0px 0px; }
  }

body {
  background-image: url('../images/배경.jpg');
	animation: rain_effect 40s linear infinite;
	-webkit-animation: rain_effect 40s linear infinite;
	-moz-animation: rain_effect 40s linear infinite;
	-ms-animation: rain_effect 40s linear infinite; 
}

.card {
  background-color:#e6e0db;
  border-radius: 5rem;  
}

.d-flex {
  display: flex!important;
  flex-direction: row;
}

/* 버튼 css*/
.btnOrange {
  background: #E3B57E;
}
.btnFade.btnOrange:hover {
  background: rgb(185, 113, 25);
}

.btnOrange:hover {
  background: #e79026;
}
.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #A66615;
  width: 130px;
  font-size:small;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}

/*카드 css*/
.card-css{
  display: flex;
  justify-content: center;
  height: 800px;
  width: 60%;
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 8rem;
  
}

/* 글자 밑줄 */
.underline{
  text-decoration: underline;
  
}


.d-flex {
  display: flex;
  justify-content: center;
}

.table-css{ 
  margin-left:auto;
  margin-right:auto;
  
}