* {
  font-family: 'Jua', sans-serif;
}


/*Keyframes*/
@keyframes rain_effect {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 400px 800px, 300px 300px, 200px 200px; }
  100% {background-position: 0px 0px, 0px 0px, 0px 0px; }
  }
  
  @-moz-keyframes rain_effect {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 400px 800px, 300px 300px, 200px 200px; }
  100% {background-position: 0px 0px, 0px 0px, 0px 0px; }
  }
  
  @-webkit-keyframes rain_effect {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 400px 800px, 300px 300px, 200px 200px; }
  100% {background-position: 0px 0px, 0px 0px, 0px 0px; }
  }
  
  @-ms-keyframes rain_effect {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 400px 800px, 300px 300px, 200px 200px; }
  100% {background-position: 0px 0px, 0px 0px, 0px 0px; }
  }
  

body {
  background-image: url('../images/배경2.jpg');
	animation: rain_effect 40s linear infinite;
	-webkit-animation: rain_effect 40s linear infinite;
	-moz-animation: rain_effect 40s linear infinite;
	-ms-animation: rain_effect 40s linear infinite; 
}