{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/deserted.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}
{% block content %}
<div class="col-dz">
  <!--타이틀-->
  <div class="grid_ignore">
    <div class="grid_ignore_wrap">
      <div class="board_tit">
        <a href="{% url 'info:deserted' %}" class="board">보호유기동물</a>
      </div>
      <div class="view_tit">
        [{{animal.careNm}}] {{animal.kindCd}} 분양
      </div>
    </div>
  </div>
  <!--본문 내용-->
  <div class="inside">
    <div class="board_txt_area">
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/lZMgQhxOQVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </div>
    <div style="margin-top: 16px;">
      <p style="font-size:18pt;">보호동물정보</p>
      <br>
      <!--정보 테이블-->
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">견종</td>
            <td style="width: 31.7989%; text-align: center;">{{animal.kindCd}}</td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">생년</td>
            <td style="width: 33.1143%; text-align: center;">{{animal.age}}</td>
          </tr>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">털색</td>
            <td style="width: 31.7989%; text-align: center;">{{animal.colorCd}}</td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">무게</td>
            <td style="width: 33.1143%; text-align: center;">{{animal.weight}}</td>
          </tr>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">성별</td>
            <td style="width: 31.7989%; text-align: center;">
              {% if animal.sexCd == "M" %}남아{% else %}여아{% endif %}
            </td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">중성화유무</td>
            <td style="width: 33.1143%; text-align: center;">
              {% if animal.neuterYn == 'Y' %}완료{% elif animal.neuterYn == "N" %}미완료{% else %}미확인{% endif %}
            </td>
          </tr>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">보호시작일</td>
            <td style="width: 31.7989%; text-align: center;">{{animal.noticeSdt}}</td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">보호종료일</td>
            <td style="width: 33.1143%; text-align: center;">{{animal.noticeEdt}}</td>
          </tr>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">보호상태</td>
            <td style="width: 31.7989%; text-align: center;">{{animal.processState}}</td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">특이사항</td>
            <td style="width: 33.1143%; text-align: center;">{{animal.specialMark}}</td>
          </tr>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">발견위치</td>
            <td style="width: 31.7989%; text-align: center;">{{animal.happenPlace}}</td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">특이사항</td>
            <td style="width: 33.1143%; text-align: center;">{{animal.careTel}}</td>
          </tr>
          <tr>
            <td style="width: 18.2668%; background-color: rgb(98, 99, 99); text-align: center;color:#fff; padding:5px">보호소</td>
            <td style="width: 31.7989%; text-align: center;">{{animal.careNm}}</td>
            <td style="width: 16.82%; background-color: rgb(98, 99, 99); text-align: center; color:#fff; padding:5px">상세주소</td>
            <td style="width: 33.1143%; text-align: center;">{{animal.careAddr}}</td>
          </tr>
        </tbody>
      </table>
      <p><img style="width: 740px; margin-top:20px;" src="{{animal.imageURL}}" alt=""></p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/Pxl_fL9X1Pw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p><img style="width: 740px; margin-top:20px; margin-bottom:40px;" src="https://www.korea.kr/newsWeb/resources/attaches/2022.01/25/18e92a79425b1ae5e219b169d583cbc6.jpg" alt=""></p>
    </div>
  </div>
</div>
{% endblock content %}