{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <div id="map" style="width:60%;height:350px;"></div>
    <p>공원이름: {{ dogroup.park.parkName }}</p>
    <p>공원주소: {{ dogroup.park.address }}</p>
    <p>공원주최자: {{ dogroup.user.username }}</p>
    <img src="{{ dogroup.dog.dogphoto }}" alt="{{ dogroup.dog.name }}의 사진" style="height: 5rem; width: 5rem;">
    <p>강아지: {{ dogroup.dog.name }} </p>
    <p id="park_lat">{{dogroup.park.latitude}}</p>
    <p id="park_lon"> {{dogroup.park.longitude}}</p>


{% endblock content %}

{% block script %}

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5002adb5652b8017c76603959cbbf663&libraries=services"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>


const latitude = document.querySelector('#park_lat').innerText
const longtitude = document.querySelector('#park_lon').innerText
console.log(latitude)
//------------------------------------지도 기본 설정--------------------------------------------
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
  mapOption = {
    center: new kakao.maps.LatLng(latitude, longtitude), // 지도의 중심좌표
    level: 5 // 지도의 확대 레벨
  };

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption);

// 마커 이미지의 이미지 크기 입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
var imageSize = new kakao.maps.Size(24, 35);


var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
  map: map, // 마커를 표시할 지도
  position: new kakao.maps.LatLng(latitude, longtitude), // 마커를 표시할 위치
  //  title: , // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
  image: markerImage, // 마커 이미지
  clickable: true,
});

</script>
{% endblock script %}