.s21_hospital_m_top {
  width: 100%;
  background: url('https://cdn.pixabay.com/photo/2017/03/14/16/39/banner-2143661_960_720.jpg') top center no-repeat;
  min-height: 230px;
  background-size: 100%;
}
.h21_top_cbox {
  margin: 0px auto;
}
.h21_top_cbox h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-weight: 400;
  padding: 50px 0 0 0px;
  letter-spacing: -0.03em;
}
.h21_h3_line_c {
  width: 30px;
  height: 3px;
  background: #fff;
  text-align: center;
  margin: 15px auto;
}
.h21_h3_text_c {
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  opacity: 0.7;
  text-align: center;
  line-height: 26px;
  padding-left: 10px;
}
.h21_com_t_left {
  top: 0;
  left: 0;
}
.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) both;
  animation: slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) both;
}
.h21_com_t_right {
  top: 0;
  right: 0;
}
.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right .8s cubic-bezier(.93,1.000,.32,1.000) both;
  animation: slide-in-blurred-right .8s cubic-bezier(.93,1.000,.32,1.000) both;
}
.pa {
  position: absolute;
}
.area {
  max-width: 1200px ! important;
  min-width: 1260px ! important;
  margin: 0px auto;
}
img {
  border: 0;
}
.s21_album_list {
  width: 100%;
  margin: 20px auto 20px auto;
}
.area {
  max-width: 1200px ! important;
  min-width: 1260px ! important;
  margin: 0px auto;
}
.s21_tour_sun {
  width: 100%;
  margin: 0px 0 0px 0;
  text-align: right;
  border: 0px solid #000;
}
.span_h3 {
  font-size: 16px ! important;
  font-weight: 300;
  float: left;
  width: 70%;
  text-align: left;
  padding-left: 20px;
}
.span_h3_ttl2 {
  font-size: 20px ! important;
  font-weight: 400;
  letter-spacing: -0.08em;
}
.span_h3_st {
  color: #e97723;
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}
.s21_tour_list_box {
  width: 100%;
  margin: 15px 0% 0 0%;
  border: 0px solid #000;
}
.s21_hospital_conts {
  float: left;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  margin: 5px 1.2%;
  padding: 1rem;
  border: 1px solid #ddd;
}
.s21_animal_conts {
  float:left;
  width: 20%;
  min-height: 320px;
  max-height: 320px;
  margin: 20px 1.2%;
  padding: 0%;
  border-bottom: 1px solid #ddd;
}
.s21_animal_conts_tbox {
  width: 100%;
  margin: 0px 0 0 0;
  display: inline-block;
}
.s21_hospital_conts_photo {
  width: 100%;
  float: left;
  min-height: 150px;
  background-size: 100% ! important;
  margin-bottom: 15px;
  border: 1px solid #e9e9e9;
}
.pr {
  position: relative;
}
.s21_hospital_conts_tbox {
  width: 100%;
  margin: 0px 0 0 0;
  display: inline-block;
}
.s21_hospital_conts_tbox h4{
  float: left;
}
.s21_hospital_conts_tbox p{
  float: right;
}
.s21_page {
  width: 100%;
  padding: 30px 0;
  display: inline-block;
  justify-content: center;
  margin-top: 40px;
  margin-left: 0%;
  margin-bottom: 40px;
  border-top: 1px solid #ebebeb;
}
.s21_page ul{
  display:flex;
  justify-content: center;
  list-style: none;
}
.s21_page ul li a{
  float: left;
  font-size: 15px;
  padding: 12px 18px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  color: #666;
}
.s21_page ul li a.active{
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
}
.hospital_search{
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 10px 0px 10px;
  text-align: left;
  top: -60px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background: #fff;
  border-radius: 40px;
  height: 70px;
}
.hospital_search select {
  font-size: 16px;
  border-radius: 60px;
  padding: 12px 20px;
  width: 15%;
  border: 1px solid #ddd;
  background: url(http://appdata.hungryapp.co.kr/images/hatdog/img/pc_img/tour/arrow_search.png) 160px center no-repeat;
  background-size: 18px;
  margin: 0 10px 0 10px;
  appearance: none;
}
.hospital_search form {
  width: 85%;
}
.hospital_search input {
  font-size: 16px;
  border-radius: 60px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  width: 85%;
}
.hospital_search button {
  width: 10%;
  margin-top: 0px;
  border-radius: 50px;
  padding: 12px 20px;
  background: #fff;
  color: #e97723;
  font-size: 15px;
  margin-left: 15px;
  display: inline-block;
  border: 1px solid #ddd;
}
