{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %} {% load static %} 
<div class="row text-center m-5">



  <!-- 회원인 경우 보이는 화면 -->
  <!-- 회원인 경우에만 강아지 등록 할 수 있게-->
  {% if user.is_authenticated %}
  <div>
      안녕하세요,
      <br />
      <a href="{% url 'accounts:profile' user %}" class="name"
        >{{ request.user }}</a
      >
      님!
    </p>

    <a class="m-5" href="{% url 'accounts:logout' %}">로그아웃</a>
    <a class="btn btn-primary" href="{% url 'accounts:dogsignup' %}"
      >강아지 등록</a
    >
  </div>

  <!-- 회원이 아닌 경우 보이는 화면 -->
  {% else %}
  <div>
    <a class="" href="{% url 'accounts:login' %}">로그인</a>
    <p class="mt-5">회원이 아니신가요?</p>
    <div class="form d-flex justify-content-center my-3">
      <a class="btn btn-primary" href="{% url 'accounts:signup' %}">회원가입</a>
      <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}"
        >비회원으로 계속하기</a
      >
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
