{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock css %}

{% block content %}
<div class="personal-info">
  {% if request.user.profile %}
  <img src="{{ request.user.profile.url }}" alt="직접 설정해둔 프로필 사진">
  {% else %}
  <img
    src=""
    alt="기본 프로필 사진">
  {% endif %}
  <p>{{ request.user }}</p>
</div>
<div class="update">
  <form action="" method="POST" enctype="multipart/form-data" class="update-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="{% url 'accounts:delete' %}" class="delete">회원 탈퇴</a>
    <div class="buttons">
      <button type="submit" class="update-button">수정</button>
      <button type="button" class="back-button"
        onclick="location.href='{% url 'accounts:profile' user.username %}'">취소</button>
  </form>
</div>
</div>
{% endblock content %}