{% load django_bootstrap5 %}
{% load static %}
<style>
  .navback {
    background-color: #544B44;
    color: #C17F34;
}
</style>
<!-- Navbar 1 -->
<nav class="navbar-stretch navbar-expand-lg p-0 sticky-top navback">
  <div class="d-flex flex-column px-5 py-2">
    <ul class="navbar-nav me-0 mb-2 mb-lg-0 d-flex justify-content-between align-items-center">
      <!-- 로고 -->
      <div>
        <a class="navbar-brand" href="{% url 'reviews:index' %}">
          <img src="{% static 'images/namung_horizontalLogo.png' %}" alt="Logo" style="width: 11rem; height: 4rem;">
        </a>
      </div>
      <!-- 토글러 -->
      <div class="d-flex">
        {% if request.user.is_authenticated %}
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'accounts:index' %}">{{ request.user }}</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
          </li>
        {% else %}
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          </li>
        {% endif %}
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'reviews:index' %}">멍스타그램</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'schedules:calendar' %}">일정관리</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'walkings:index' %}">산책나가기</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'info:place' %}">애견동반장소</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'info:hospital' %}">병원찾기</a>
          </li>
          <li class="nav-item me-4 nav1-text">
            <a class="nav-link" href="{% url 'info:deserted' %}">유기견보호소</a>
          </li>
      </div>
    </ul>
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
// https://webdir.tistory.com/481
// Hide .lower-navbar on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('.lower-navbar').outerHeight();

$(window).scroll(function (event) {
didScroll = true;
});

setInterval(function () {
if (didScroll) {
  hasScrolled();
  didScroll = false;
}
}, 250);

function hasScrolled() {
var st = $(this).scrollTop();

// Make sure they scroll more than delta
if (Math.abs(lastScrollTop - st) <= delta) 
  return;

// If they scrolled down and are past the navbar, add class .nav-up.
// This is necessary so you never see what is "behind" the navbar.
if (st > lastScrollTop && st > navbarHeight) {
  // Scroll Down
  $('.lower-navbar')
    .removeClass('nav-down')
    .addClass('nav-up');
} else {
  // Scroll Up
  if (st + $(window).height() < $(document).height()) {
    $('.lower-navbar')
      .removeClass('nav-up')
      .addClass('nav-down');
  }
}

lastScrollTop = st;
}
</script>
