{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네이멍 : NAMUNG</title>
    <link rel="icon" href="{% static '/images/namung_logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body class="container" style="background-color:#544B44;">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img" style="background-image: url({% static 'images/main_background.gif' %});">
                            <div class="text w-100">
                                <h3 style="color:white;">안녕하세요!!</h3>
                                <h2 class="mb-4">네이멍에 오신 것을 환영합니다</h2>
                                <p>Welcome to NAMUNG, the place to find all things about your pet</p>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="row justify-content-center py-md-5">
                                <div class="col-lg-9">
                                    {% if request.user.is_authenticated %}
                                    <div class="w-100">
                                        <p class="mt-4">멍스타그램<br><a href="{% url 'reviews:index' %}" class="enter">MUNGSTAGRAM</a></p>
                                    </div>
                                    <div class="w-100">
                                        <p class="mt-4">당근산책<br><a href="{% url 'walkings:index' %} " class="enter">SANCHAEK</a></p>
                                    </div>
                                    <div class="w-100">
                                        <p class="mt-4">일정관리<br><a href="{% url 'schedules:calendar' %} " class="enter">CALENDAR</a></p>
                                    </div>
                                    <a href="{% url 'accounts:profile' user.username %} " class="enter">{{ request.user.username }}</a>님, 환영합니다!!
                                    {% else %}
                                    <div class="w-100">
                                        <p class="mt-4">계정이 있어요! <a href="{% url 'accounts:login' %}" class="enter">LOG IN</a></p>
                                    </div>
                                    <div class="w-100">
                                        <p class="mt-4">새로 오셨나봐요? <a href="{% url 'accounts:signup' %} " class="enter">Sign Up</a></p>
                                    </div>
                                        새로운 멍집사님, 환영합니다!!
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row justify-content-center py-md-5">
                                <p class="mt-4 button">들어가기 <a href="{% url 'reviews:index'  %}" class="enter">ENTER</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'info:place' %}">
            <img src="{{ banner }}" alt="DogPlace" class="mt-4 banner" width="100%" height="auto"></a>

        </div>

    </section>
    <aside class="floating">
        <a href="{% url 'info:hospital' %}">
            <img src="{{ aside1 }}" alt="DogHospital" class="mt-4 banner2" width="150px" height="auto"></a>
        <a href="{% url 'info:deserted' %}">
            <img src="{{ aside2 }}" alt="DogAdopt" class="mt-4 banner2" width="150px" height="auto"></a>
    </aside>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js'%}"></script>
</body>
</html>