{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="nav">
    <!-- sub navbar-->
    <header class="nav2">
        <div class="nav_div my-1">
            <!-- 프로필 이미지 -->
            <a href="{% url 'accounts:profile' user.username %}" style="text-decoration: none; color: #544B44;"><img class="nav2 navimg" src="/media/{{ user.profile }}" alt="{{ user.username }}"></a>
            <a href="{% url 'accounts:profile' user.username %}" style="text-decoration: none; color: #544B44;"><p class="px-2 pt-3">{{ user.username }}</p></a>
          </div>
      <div class="nav2_link">
        <span>
            <a style="text-decoration:none; color: #544B44;" class="mx-1" href="{% url 'schedules:calendar' %}">달력</a>
            <a style="text-decoration:none; color: #544B44;" class="mx-1" href="{% url 'schedules:running_events' %}"><i class="icon fa fa-circle-o"></i>다가오는 일정</a>
            <a style="text-decoration:none; color: #544B44;" class="mx-1" href="{% url 'schedules:all_events' %}">모든 일정</a>
        </span>
      </div>
    </header>
  </div>
<div class="app-content container">
    <div class="app-title mt-3">
        <h1 class="mx-4"><i class="fa fa-dashboard"></i>일정 목록</h1>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">SL</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">일정</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">시작시간</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">종료시간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in object_list %}
                                            <tr role="row" class="odd">
                                                <td class="sorting_1"><a style="text-decoration: none; color: #544B44;" href="{% url 'schedules:event-detail' event.pk %}">{{ forloop.counter }}</a></td>
                                                <td><a style="text-decoration: none; color: #544B44;" href="{% url 'schedules:event-detail' event.pk %}">{{ event.title }}</a></td>
                                                <td><a style="text-decoration: none; color: #544B44;" href="{% url 'schedules:event-detail' event.pk %}">{{ event.start_time }}</a></td>
                                                <td><a style="text-decoration: none; color: #544B44;" href="{% url 'schedules:event-detail' event.pk %}">{{ event.end_time }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
</main>
{% block script %}
<script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock script %}
